body {
  background-color: #eee;
}

header {
  height: 64px;
  line-height: 64px;
  background-color: white;
}

h1 {
  display: inline-block;
  font-size: 1.6em;
  margin: 0 24px;
}
nav {
  display: inline-block;
}

nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  margin-left: 16px;
  cursor: pointer;
}
nav ul li.on,
nav ul li:hover {
  color: dodgerblue;
  text-decoration: underline;
}

main {
  height: calc(100vh - 64px);
  overflow: hidden;
}